<div class="container-fluid navbar-fixed">
  <header>
    <nav class="navbar navbar-expand-md bg-info">
      <a routerLink="" class="nav-link text-white">Home</a>
      <a routerLink="calculadora" class="nav-link text-white">Calculadora</a>
      <a routerLink="positivo" class="nav-link text-white">Positivo/Negativo</a>
      <a routerLink="imc" class="nav-link text-white">IMC</a>
      <a routerLink="cadastro" class="nav-link text-white">Cadastro Pessoa</a>
      <a routerLink="categoria" class="nav-link text-white">Categoria</a>
      <a routerLink="vetores" class="nav-link text-white">Vetores</a>

    </nav>

  </header>

</div>
<router-outlet></router-outlet>
