<h1>Aula</h1>

<p>Aula introdutoria a respeito do angula</p>

<p> Boa noite {{nome}} </p>
<br>
<form class="" action="index.html" method="post">
  <input type="text" name="valor"  [(ngModel)] = "valor" >
  <button type="button" name="button" (click)="ApresentaNome()"> clicar</button>

<br><br>

    <input type="number" name="n1" value="" [(ngModel)]="n1"><br>
    <input type="number" name="n2" value="" [(ngModel)]="n2"><br>
    <button type="button" name="button" (click)="soma">Soma</button>
    <output name="total"></output>






</form>
